.sudokuGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  background-color: var(--color-border);
  border-radius: 2px;
}

.sudokuCell {
  padding: 8px 0;
  text-align: center;
  border: 1px solid var(--color-border);
  font-size: 1.2rem;
  outline: none;
  background-color: #fafafa;
  border-radius: 0;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.sudokuCell.initial {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
.sudokuCell::-webkit-outer-spin-button,
.sudokuCell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sudokuCell[type='number'] {
  -moz-appearance: textfield;
}

.sudokuCell:hover:not(.initial) {
  background-color: #f0f8ff;
}

.sudokuCell:focus:not(.initial) {
  /* border-color: var(--color-primary); */
  background-color: #f0f8ff;
}

.borderRight {
  border-right: 3px solid var(--color-background);
}

.borderBottom {
  border-bottom: 3px solid var(--color-background);
}

/* Responsive Cell Sizing */
@media (max-width: 600px) {
  .sudokuGrid {
    grid-template-columns: repeat(9, 1fr);
  }

  .sudokuCell {
    padding: 8px 0;
    font-size: 1rem;
  }
}
